{% extends 'base.html' %}

{% block title %}
  Home Page
{% endblock %}

{% block content %}
<br><br>
<div class="container">
  <div class="glass" style="text-align: center; color: white;">
    <h1 class="display-6 font-weight-normal">Dashboard</h1>
  </div>
  <br>
<div class="glass">
<div style="color:white; background-color:transparent; margin-top: 0%;">
  <div>            
      <!-- <a class="btn upload-button" href="{{ url_for('form_page') }}">Get Started</a>         -->
      <div>
        <div class="row" style="padding: 1% 2%;">
          <h2 class = "col">Businesses Name: <span style="color: black;">{{ businessName }}</span></h2>          
      </div>
      <br>
      <br>
      <div class = "table-container">
        <table class = "table table-bordered table-hover table-transparent" style="text-align: center; color: black;">
          <thead>
            <tr style="position: sticky; top: 0; background-color: #81c9e3;">              
              <th>
                Date
              </th>
              <th>
                Reviews Count
              </th>
            </tr>           
          </thead>
          <tbody id = "tables">
            {% for item in items %}
            <tr>              
              <td>{{ item['Date'] }}</td> 
              <td>{{ item['ReviewsCount'] }}</td>             
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>
</div>
</div>  
{% endblock %}