{% extends 'base.html' %}

{% block title %}
  Home Page
{% endblock %}

{% block content %}
<br><br>
<div class="container">
  <div class="glass" style="text-align: center; color: white;">
    <h1 class="display-6 font-weight-normal">Dashboard</h1>
  </div>
  <br>
<div class="glass">
<div style="color:white; background-color:transparent; margin-top: 0%;">
  <div>            
      <!-- <a class="btn upload-button" href="{{ url_for('form_page') }}">Get Started</a>         -->
      <form name="reviewForm" method="post">
        <input type="hidden" id="actionType" name="actionType" value="">
      <div>
        <div class="row" style="padding: 1% 2%;">
          <h2 class = "col-6">Businesses Names</h2>
          <input class="form-control col-6" id="myInput" type="text" placeholder="Search..">
      </div>
      <br>
      <div class="row">
        <div class="col" id = "editNickNames">
          <button class="btn btn-warning" type="button" onclick="editNickNames()">Edit NickNames</button>
          </div>
        <div class="col" id = "editDates">
        <button class="btn btn-warning" type="button" onclick="editDates()">Edit Dates</button>
        </div>
        <div class="col" id = "editReviews">
          <button class="btn btn-warning" type="button" onclick="editReviews()">Edit Reviews</button>
        </div>
        <div class="col" id = "save" style="display: none;" onclick="saveReviews()">
          <button class="btn btn-success">Save</button>
        </div>
      </div>
      <br>
      <!-- <div class="row">
        <div class="col" id = 'getReviews'>
          <a href="{{ url_for('get_reviews') }}" class="btn btn-success">Get All Reviews</a>
        </div>
      </div>
      <br> -->
      <div class = "table-container">
        <table class = "table table-bordered table-hover table-transparent table-responsive" style="text-align: center; color: black;">
          <thead>
            <tr style="position: sticky; top: 0; background-color: #81c9e3;">                            
              <th>
                Business Name
              </th>
              <th>
                Nick Name
              </th>
              <th>
                Action
              </th>
              {% for date in dates %}
              <th>      
                <div class="row">
                  <div class="col" data-original-date="{{ date }}">
                    {{ date.strftime('%m-%d-%Y') }}
                  </div>
                  <div class="col delDate" style="display: none;">
                    <button class="btn btn-danger" type="submit" name="date" onclick="document.getElementById('actionType').value = 'delDate';" value="{{ date }}">Delete</button>
                  </div>
                </div>          
                
              </th>
              {% endfor %}
            </tr>           
          </thead>          
          <tbody id = "tables">            
            {% for business, reviews_dates in businesses_reviews_dates.items() %}
            <tr>                            
              <td><a href="{{ business[1] }}" target="_blank">{{ business[0] }}</a></td>
              <td data-business="{{ business[1] }}">{{ business[2] }}</td>
              <td>
                <div class="row">
                  <div class="col">
                    <button type="submit" name = "business" class="btn btn-success" onclick="document.getElementById('actionType').value = 'getBusiness';" value="{{ business[1] }}">Get Reviews</button>
                  </div>
                  <div class="col"><button type="submit" name = "business" class="btn btn-danger" onclick="document.getElementById('actionType').value = 'delBusiness';" value="{{ business[1] }}">Delete</button></div>
                </div>
              </td>
              {% for review, date in reviews_dates %}                
                <td data-business="{{ business[1] }}" data-date="{{ date }}">{{ review }}</td>
              {% endfor %}              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  </form>
</div>
</div>
</div>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tables tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
<script>
function editDates() {
  // Select all date columns in the table
  var dateColumns = document.querySelectorAll('div[data-original-date]');
  dateColumns.forEach(function(column) {
    var originalDate = column.getAttribute('data-original-date');
    var dateValue = column.textContent.trim();
    column.innerHTML = '<input type="text" class="form-control date-edit" value="' + dateValue + '" data-original-date="' + originalDate + '">';
    column.style.backgroundColor = '#f0f0f0'; // Highlight editable columns
  });

  // Toggle the display of the save button
  var saveButton = document.getElementById('save');
  if (saveButton.style.display === 'none') {
    saveButton.style.display = 'block';
  }

  // Hide the editReview div
  var editReviewDiv = document.getElementById('editReviews');
  if (editReviewDiv) {
    editReviewDiv.style.display = 'none';
  }
  // Hide the editDates div
  var editDatesDiv = document.getElementById('editDates');
  if (editDatesDiv) {
    editDatesDiv.style.display = 'none';
  }
  document.getElementById('actionType').value = 'editDates';

  var editNickName = document.getElementById('editNickNames');
  if(editNickName){
    editNickName.style.display = 'none';
  }

  // var getReviews = document.getElementById('getReviews');
  // if(getReviews){
  //   getReviews.style.display = 'none';
  // }

  // Show all divs with class name delDate
  var delDateDivs = document.querySelectorAll('.delDate');
  delDateDivs.forEach(function(delDateDiv) {
    delDateDiv.style.display = 'block';
  });

}

function editReviews() {
  var reviewCells = document.querySelectorAll('td[data-business][data-date]');
     reviewCells.forEach(function(cell) {
       var reviewValue = cell.textContent.trim();
       var business = cell.getAttribute('data-business');
       var date = cell.getAttribute('data-date');

       cell.innerHTML = '<input type="text" class="form-control review-edit" value="' + reviewValue + '" data-business="' + business + '" data-date="' + date + '">';
       cell.style.backgroundColor = '#f0f0f0';
     });

     var editDatesDiv = document.getElementById('editDates');
     if (editDatesDiv) {
       editDatesDiv.style.display = 'none';
     }

  // Toggle the display of the save button
  var saveButton = document.getElementById('save');
  if (saveButton.style.display === 'none') {
    saveButton.style.display = 'block';
  }

  // Hide the editDates div
  var editDatesDiv = document.getElementById('editDates');
  if (editDatesDiv) {
    editDatesDiv.style.display = 'none';
  }
  // Hide the editReview div
  var editReviewDiv = document.getElementById('editReviews');
  if (editReviewDiv) {
    editReviewDiv.style.display = 'none';
  }

  var editNickName = document.getElementById('editNickNames');
  if(editNickName){
    editNickName.style.display = 'none';
  }
  document.getElementById('actionType').value = 'editReviews';

  // var getReviews = document.getElementById('getReviews');
  // if(getReviews){
  //   getReviews.style.display = 'none';
  // }

}
function editNickNames() {
    var nickNameCells = document.querySelectorAll('td:nth-child(2)');

    nickNameCells.forEach(function(cell) {
        var nickNameValue = cell.textContent.trim();
        cell.innerHTML = '<input type="text" class="form-control nickName-edit" value="' + nickNameValue + '">';
        cell.style.backgroundColor = '#f0f0f0'; // Highlight editable cells
    });

    var saveButton = document.getElementById('save');
    if (saveButton.style.display === 'none') {
        saveButton.style.display = 'block';
    }

    var editDatesDiv = document.getElementById('editDates');
    if (editDatesDiv) {
        editDatesDiv.style.display = 'none';
    }

    var editReviewDiv = document.getElementById('editReviews');
    if (editReviewDiv) {
        editReviewDiv.style.display = 'none';
    }

    var actionTypeInput = document.getElementById('actionType');
    if (actionTypeInput) {
        actionTypeInput.value = 'editNickName';
    }

    var editNickName = document.getElementById('editNickNames');
    if (editNickName) {
        editNickName.style.display = 'none';
    }

    // var getReviews = document.getElementById('getReviews');
    // if(getReviews){
    //   getReviews.style.display = 'none';
    // }
}
</script>
<script>
function saveReviews() {
  var actionType = document.getElementById('actionType').value;
  var inputs;
  var changes = {};
  var form = document.forms['reviewForm'];

  if (actionType === 'editReviews') {
    inputs = document.querySelectorAll('.review-edit');
    inputs.forEach(function(input) {
      var business = input.getAttribute('data-business');
      var date = input.getAttribute('data-date');
      var review = input.value;
      if (!changes[business]) {
        changes[business] = {};
      }
      changes[business][date] = review;
    });
  } else if (actionType === 'editDates') {
    inputs = document.querySelectorAll('.date-edit');
    inputs.forEach(function(input) {
      var originalDate = input.getAttribute('data-original-date');
      var newDate = input.value;
      changes[originalDate] = newDate;
    });
  }
  else if (actionType === 'editNickName') {
    var nickNameCells = document.querySelectorAll('.nickName-edit');

    nickNameCells.forEach(function(cell) {
      var businessUrl = cell.closest('td').getAttribute('data-business');
      var nickName = cell.value.trim();
      changes[businessUrl] = nickName;
    });
  }

  // Append changes to the form
  var changesInput = document.createElement('input');
  changesInput.type = 'hidden';
  changesInput.name = 'changes';
  changesInput.value = JSON.stringify(changes);
  form.appendChild(changesInput);
  // Automatically submit the form
  form.submit();
}
</script>
{% endblock %}
